name: PHP CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  php:
    runs-on: ubuntu-latest

    steps:
      - name: Repo checkout
        uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: "8.1"
          extensions: mbstring, json
          coverage: none

      - name: Install encoding PECL extension
        run: |
          sudo apt-get update
          sudo apt-get install -y php8.1-dev php-pear
          yes | sudo pecl install encoding
          echo "extension=encoding.so" | sudo tee /etc/php/8.1/cli/conf.d/20-encoding.ini

      - name: Validate composer.json
        run: composer validate --strict

      - name: Install dependencies
        run: composer install --no-interaction --prefer-dist

      - name: PHP Syntax Check
        run: |
          for file in $(find . -name "*.php"); do
            php -l "$file"
          done
