name: PHP CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  php:
    runs-on: ubuntu-latest

    steps:
      - name: Repo checkout
        uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: "8.1"
          extensions: mbstring, json
          coverage: none

      - name: Validate composer.json
        run: composer validate --strict

      - name: Install dependencies ignoring ext-encoding
        run: composer install --no-interaction --prefer-dist --ignore-platform-req=ext-encoding

      - name: PHP Syntax Check
        run: |
          for file in $(find . -name "*.php"); do
            php -l "$file"
          done
